<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Weather Information System </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/weather-icons.css" />

    <script type="text/javascript" src="~/assets/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="containerData">

        <div class="page-header">
            <h2>Weather Information System</h2>

            <div class="dropdown">
                @Html.DropDownList("Interval", (List<SelectListItem>)ViewBag.IntervalDropDown, "--Interval data--")
            </div>
        </div>
    </div>

    <div class="layout">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="weather">
                    <div class="current">
                        <div class="info">
                            <div>&nbsp;</div>
                            <div class="icon">
                                <span class="wi-day-sunny"></span>
                            </div>
                            <div class="state">
                                <label>State :</label>  @ViewBag.State
                            </div>
                            <div class="City">
                                <label>City :</label>  @ViewBag.City
                            </div>
                            <div class="MaximumTemprature">
                                <label>Maximum Temprature :</label>  @ViewBag.MaxTemprature
                            </div>
                            <div class="MinimumTempratur">
                                <label>Minimum Temprature :</label>  @ViewBag.MinTemprature
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        $("#Interval").change(function (event) {
            var IntervalCount = $(this).val();
            var URL = '/Home/IntervalCall';
            var a = setInterval(function () {
                $.ajax({
                    url: URL,
                    data: { id: IntervalCount },
                    type: "POST",
                    dataType: "html",
                    success: function (data) {
                        $(".layout").html(data);
                        clearInterval(a);
                    }
                })
            }, parseInt(IntervalCount * 1000));
        });

    </script>
</body>
</html>